# Bytecode files
__pycache__/
*.py[cod]

# Data
data/
datasets/

# Checkpoints
checkpoints/
*.ckpt
*.pth
*.pt
*.h5

# Evaluation Summary
eval_summary/

# Logs
logs/

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
# PyInstaller specific files
*.manifest
*.spec

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test coverage
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# MyPy
.mypy_cache/

# Sphinx documentation
_docs/_build/

# Pytest
.pytest_cache/

# Temporary files
*.bak
*.swp
*.tmp

# Environment variables
.env
*.env

# Docker
docker-compose.override.yml

# Sublime Text
*.sublime-workspace
*.sublime-project

# Other system files
.idea/
